@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

.shake {
  animation: shake 0.5s infinite;
  height: 200px;
  width: 200px;
}
