---
const { title } = Astro.props;
---

<!doctype html>
<html lang='en' class='h-full'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title || 'Typeform-style Startup Input'}</title>
    <link href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap' rel='stylesheet' />
  </head>
  <body
    class='h-full bg-gradient-to-r from-blue-400 to-green-400 dark:from-gray-800 dark:to-gray-900 text-white font-sans'
  >
    <div class='relative'>
      <h1
        class='text-5xl font-semibold text-center absolute inset-0'
        style='text-shadow: 1px 2px 2px rgb(0 0 0 / 0.5); margin-top: 7rem'
      >
        Ai Innovation Challenge
      </h1>
    </div>
    <main class='h-full flex items-center justify-center p-4 flex-col'>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  body {
    font-family: 'Inter', sans-serif;
  }
</style>
